.app-container {
  display: flex;
  height: 100vh;
  max-height: 100%;
}
.container-left {
  width: 40rem;
  display: flex;
  background-color: #611f69;
  color: darkgray;
  /* padding: 0 1.5rem; */
}
.container-workspaces {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
}

.container-subscribed {
  width: 100%;
  border-left: 1px solid lightgray;
  /* padding: 0 1.5rem; */
}

.container-right {
  width: 100%;
  overflow-y: scroll;

  padding: 0 1.5rem;
}
.container-right::-webkit-scrollbar {
  width: 0;
}

.workspace-title {
  font-size: 18px;
  color: white;
}
