.app-container {
  display: flex;
  box-sizing: border-box;
  height: 95%;
}
.container-left {
  width: 30rem;
  display: flex;
  background-color: #611f69;
  color: darkgray;
  /* padding: 0 1.5rem; */
}
.container-workspaces {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
}

.container-subscribed {
  width: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  /* padding: 0 1.5rem; */
}

.container-right {
  width: 100%;
  /* overflow-y: scroll; */
  position: relative;
}
.container-right::-webkit-scrollbar {
  width: 0;
}

.workspace-title {
  font-size: 18px;
  color: white;
}

#workspace-options-btn {
  position: relative;
  cursor: pointer;
}

.container-data {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

.compose-btn {
  background-color: white;
  padding: 7px;
  border-radius: 50%;
}

.fa-pen-to-square {
  color: black;
}
