.channel-message-container {
  display: flex;

  margin-left: 15px;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  align-items: flex-start;
}

.message-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 100%;
}
.channel-message-container:hover {
  background-color: rgb(249, 249, 249);
}

.channel-message-top-content {
  display: flex;
  justify-content: space-between;
}

.channel-message-options {
  box-shadow: 0 6px 16px rgb(0 0 0 / 12%);
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  width: 120px;
  border: 1px solid lightgray;
  position: absolute;
  right: 0;
  top: 0;
}

.channel-message-btns {
  display: flex;
  flex-direction: column;
}

.channel-message-btns button {
  background-color: white;
  border: none;
  height: 2rem;
  /* border-radius: 10px; */
}
.channel-message-btns button:hover {
  background-color: rgb(249, 249, 249);
  cursor: pointer;
}

.delete-button {
  color: red;
}

.channel-message-header {
  display: flex;
  align-items: center;
}

.channel-message-date {
  margin-left: 10px;
  color: gray;
}

.message-profile-pic img {
  height: 40px;
  width: 40px;
}
