.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  z-index: 10;
}

.container-subscribed .header-container {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.workspace-list-container {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#chat-header {
  background-color: white;
  position: sticky;
  top: 0;
}

.chat-header-title {
  display: flex;
  margin-left: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.header {
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
}

.chat-input-container {
  height: 9rem;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 15px;
  /* margin-bottom: 10px; */
  position: absolute;
  bottom: 0;
}

/* rgba(255, 255, 255, 0.7); */

.chat-header-title:hover {
  background-color: lightgray;
  cursor: pointer;
}

.chat-input button {
  height: 30px;
  width: 65px;
  border-radius: 10px;
  border: none;
  align-self: flex-end;
  margin: 0px 15px 15px 0px;
  cursor: pointer;
}

.chat-people-count button {
  border: none;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: white;
  height: 1.5rem;
  cursor: pointer;
}

.green {
  background-color: green;
  color: white;
}

.chat-container {
  display: flex;
  flex-direction: column;
  /* flex: 1; */

  max-height: 75vh;
  /* justify-content: flex-end; */
}
.chat-messages-container {
  /* flex: 1; */
  overflow-y: scroll;
  height: 30%;
}

.header-profile-pic {
  margin-right: 8px;
  position: relative;
  box-sizing: border-box;
}

.header-profile-pic > img:not(.is-online) {
  height: 35px;
  width: 35px;
  border-radius: 5px;
}
