.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid grey;

  z-index: 10;
}

#chat-header {
  background-color: white;
  position: sticky;
  top: 0;
}

.chat-header-title {
  display: flex;
  margin-left: 15px;
  border-radius: 5px;
}

.header {
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
}

.chat-input-container {
  height: 9rem;
  display: flex;
  box-sizing: border-box;
}

/* rgba(255, 255, 255, 0.7); */

.chat-header-title:hover {
  background-color: lightgray;
  cursor: pointer;
}

.chat-input button {
  height: 30px;
  width: 65px;
  border-radius: 10px;
  border: none;
  align-self: flex-end;
  margin: 0px 15px 15px 0px;
}

.chat-people-count button {
  border: none;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: white;
  height: 1.5rem;
  cursor: pointer;
}
