.dm-listing {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.incoming {
  color: white;
  padding: 4px;
  background-color: red;
  border-radius: 7px;
}

.is-online-dm {
  position: absolute;
  bottom: 7%;
  right: -4%;
}

.green-circle {
  color: rgb(7, 170, 7);
}

.grey-circle {
  color: gray;
}
