.subbed-channels-container {
  box-sizing: border-box;
}

.subbed-channel-individual-container {
  box-sizing: border-box;
  display: flex;
  padding: 5px 0px 5px 0;
}

.hashtag-icon {
  margin-right: 10px;
}

.hover:hover {
  background-color: #541c5a;
}

.pointer:hover {
  cursor: pointer;
}

.add-channel-container {
  display: flex;
  margin-top: 5px;
}

.add-channel-text {
  cursor: pointer;
}

.subscription-padding {
  padding: 0.3rem 1.5rem;
}
.container-bottom {
  display: flex;
  justify-content: center;
}

.active-channel {
  background-color: #1164a3;
  color: white;
}

.active-channel:hover {
  background-color: #1164a3;
}
