/* TODO Add site wide styles */
body {
  margin: 0;
  /* overflow: hidden; */
}

.resize-body {
  max-width: 76rem;
  margin: 0 auto;
}

#root {
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* overflow: none; */
}

* {
  /* box-sizing: border-box; */
}
