.splash-body {
}

.header-columns-container {
  background-color: #541554;
}
.banner {
  display: grid;
  grid-template-columns: 53% 45%;
  grid-column-gap: 2%;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.header-text-white {
  color: white;
  font-size: 2rem;
}

.header-text-white > h1 {
  margin: 0;
}

.header-text-gold {
  color: #ecb22e !important;
}

.header-subtext {
  color: white;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2.75rem;
}

.splash-action-btns {
  display: flex;
  /* justify-content: space-around; */
  margin-bottom: 1.25rem;
}

.sign-up-email {
  width: 35%;
  background-color: white;
  border-radius: 5px;
  color: #611f69;
  fill: #611f69;
  font-size: 1rem;
  padding: 17px;
  /* min-width: auto; */
  text-align: center;
  box-shadow: inset 0 0 0 1px #611f69;
  font-weight: 600;
}

.try-for-free {
  width: 35%;
  background-color: #4285f4;
  color: white;
  padding: 17px;
  font-size: 1rem;

  border-radius: 5px;
  /* min-width: 28%; */
  text-align: center;
  margin-left: 8px;
  box-shadow: inset 0 0 0 1px #611f69;
  font-weight: 600;
}

.slogan {
  color: white;
  font-size: 1.3rem;
}

.show-animation video {
  max-width: 700px;
}

.container-content {
  background-color: #f4ede4 !important;
}
.splash-content {
  padding-top: 2rem;
}

.trusted-container {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trusted-text {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 1.5rem;
  text-align: center;
}

.trusted-logo {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
}

.item-left-col video {
  max-width: 700px;
}

.item-columns {
  display: grid;
  grid-template-columns: 48% 40%;
  grid-column-gap: 10%;
}

.item-content-header h1 {
  font-size: 3rem;
}

.item-content-subtext {
  line-height: 1.5;
  font-size: 1.25rem;
}
