.splash-body {
}
a {
  text-decoration: none;
}

.header-columns-container {
  background-color: #541554;
}
.banner {
  display: grid;
  grid-template-columns: 53% 45%;
  grid-column-gap: 2%;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.header-text-white {
  color: white;
  font-size: 2rem;
}

.header-text-white > h1 {
  margin: 0;
}

.header-text-gold {
  color: #ecb22e !important;
}

.header-subtext {
  color: white;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2.75rem;
}

.splash-action-btns {
  display: flex;
  /* justify-content: space-around; */
  margin-bottom: 1.25rem;
}

.sign-up-email {
  width: 35%;
  background-color: white;
  border-radius: 5px;
  color: #611f69;
  fill: #611f69;
  font-size: 1rem;
  padding: 17px;
  /* min-width: auto; */
  text-align: center;
  box-shadow: inset 0 0 0 1px #611f69;
  font-weight: 600;
}

.try-for-free {
  width: 35%;
  background-color: #4285f4;
  color: white;
  padding: 17px;
  font-size: 1rem;

  border-radius: 5px;
  /* min-width: 28%; */
  text-align: center;
  margin-left: 8px;
  box-shadow: inset 0 0 0 1px #611f69;
  font-weight: 600;
}

.slogan {
  color: white;
  font-size: 1.3rem;
}

.show-animation video {
  max-width: 700px;
}

.container-content {
  background-color: #f4ede4 !important;
}
.splash-content {
  padding-top: 2rem;
}

.trusted-container {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trusted-text {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 1.5rem;
  text-align: center;
}

.trusted-logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
}

video {
  max-width: 650px;
}

.item-columns {
  max-width: 76rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: 53% 45%;
  grid-column-gap: 10%; */
  /* padding: 50px 4vw; */
}

.item-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.item-content {
  max-width: 30rem;
}

.item-content-header h1 {
  font-size: 3rem;
}

.item-content-subtext {
  line-height: 1.5;
  font-size: 1.25rem;
}

.section-3 {
  min-height: 300px;
  background-color: #4a154b;
  -webkit-clip-path: ellipse(75% 100% at center top);
  clip-path: ellipse(75% 100% at center top);
  display: flex;
  height: auto;
  justify-content: center;
  color: white;
}

.section-3-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-3-content h1 {
  font-size: 3rem;
}

.section3-btn {
  padding: 20px 40px;
}
